@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cinema


>

    <h1> Delete @Model.Name </h1>

<form method="post" asp-action="DeleteConfirmed">

    <div class="mb-3">
       
        <input asp-for="Id" type="text" class="form-control" hidden>

    </div>

    <div class="mb-3">
        <label asp-for="Logo">@Html.DisplayNameFor(model=> model.Logo) </label>
        <input asp-for="Logo" type="text" class="form-control" readonly>
        
    </div>
    <div class="mb-3">
        <label asp-for="Name">@Html.DisplayNameFor(model=> model.Name) </label>
        <input asp-for="Name" type="text" class="form-control" readonly>
        
    </div>
    <div class="mb-3">
        <label asp-for="Description">@Html.DisplayNameFor(model=> model.Description) </label>
        <input asp-for="Description" type="text" class="form-control" readonly>
        
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
    <a asp-controller="Cinemas" asp-action="Index" class="btn btn-secondary">Volver</a>

</form>

